<section>
<div class="footer">
  <div class="div1"><h2>Sailor</h2>
  <p>A108 Adom Street NY 535022 , USA</p>
  <p><b>Phone:</b>9685741236</p>
 <p><b>Email:</b>info@example.com</p>
 
  </div>
  <div class="divtwo">
    <h4>Useful Links</h4>
    <ul>
      <li>Home</li>
      <li>About Us</li>
      <li>Services</li>
      <li>Terms and Services</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
  <div class="divthree">   <h4>Our Services</h4>
  <ul>
    <li>Web design</li>
    <li>Web Development</li>
    <li>Product Management</li>
    <li>Marketing</li>
    <li>Graphics Design</li>
  </ul>
  </div>
  <div class="last">
    <h3>Our Newsletter</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti </p>
    <input type="text" name="" id=""><button class="footerbtn">Subscribe</button>
  </div>
</div>
</section>