<section>
<div class="footer">
  <div class="div1"><h2>Sailor</h2>
  <p>A108 Adom Street NY 535022 , USA</p>
 
  <span><h5>Phone:</h5></span><span>9325962564</span>
  <span><h5>Email:</h5></span><span>info@example.com</span>
  </div>
  <div>
    <h4>Useful Links</h4>
    <ul>
      <li>Home</li>
      <li>About Us</li>
      <li>Services</li>
      <li>Terms and Services</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
  <div>   <h4>Our Services</h4>
  <ul>
    <li>Web design</li>
    <li>Web Development</li>
    <li>Product Management</li>
    <li>Marketing</li>
    <li>Graphics Design</li>
  </ul>
  </div>
  <div>
    <h3>Our Newsletter</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti <br>veritatis quaerat et! Sapiente nam dolores modi</p>
    <input type="text" name="" id=""><button>Subscribe</button>
  </div>
</div>
</section>