body {
    background-color: "{{ settings.bg }}";
    padding: 0;
    margin: 0;
}

/**
 * --------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * --------------------------------------------------------------------
 */

 .announcement-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
 }

 .announcement-bar-left-section {
    display: flex;
    align-items: center;

 }

 .announcement-bar-inner-list {
    display: flex;
 }

 .announcement-bar-inner-list li {
    list-style-type: none;
    font-size: 15px;
    padding: 3px;
 }

 .announcement-bar-inner-list a {
    text-decoration: none;
    color: inherit;
 }


 .notfound {
   background-color: rgb(226, 226, 226);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Set the height to the full viewport height */
 }
 .announce{
background-color: rgb(182, 227, 241);
display: flex;
justify-content: center;
align-items: center;
height: 30px;

 }
 .announce h3{
   color: #666164;
   font-family: cursive;
 }

 .footer{
   width:100%;
   background-color: #515d6a;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height:20rem;

    
 }
.footer ul li{
   color: #b4b5b6;
text-decoration: none;
padding: 8px;
}
.footer ul{
   list-style-type: none;  
}
.footer ul li:hover{
   color: rgb(248, 246, 246);
   transition: 0.6s;
   transform: scale(1.1);
}
 .div1{
   color: #dee2e6;
   margin-top: -6rem;
 }
.divthree h4{
   text-align: center;
   color: white;
}
.divtwo h4{
   text-align: center;
   color: white;
}
.last{

   margin-top: -6rem;
}
.footerbtn{
   background-color: red;
   color: #fff;
   width: 109px;
   height: 35px;
   outline: none;
   border: none;
   font-family: cursive;
   letter-spacing: 2px;
}
.last input{
   height: 35px;
   outline: none;
   width: 19rem;
}
.last h3{
   color: white;
}
.last p{
   color: white;
}